<div class="card p-m-3">
    <h3 style="text-align: center;">nome da OM</h3>
    <p-table #dt [value]="indicadores" styleClass="p-datatable-striped p-datatable-sm" >
        <ng-template pTemplate="header">
            <tr>
                <th class="p-text-center" style="width: 7%">Código</th>
                <th class="p-text-center" style="width: 30%">Nome</th>
                <th class="p-text-center">Mínimo</th>
                <th class="p-text-center">Ideal</th>
                <th class="p-text-center">Existente</th>
                <th class="p-text-center">Gap Mínimo</th>
                <th class="p-text-center">Gap Ideal</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-indicador>
            <tr>
                <td class="p-text-center">{{indicador.capacitacao.codigo}}</td>
                <td class="p-text-center">{{indicador.capacitacao.nome}}</td>
                <td class="p-text-center">{{indicador.minimo}}</td>
                <td class="p-text-center">{{indicador.ideal}}</td> 
                <td class="p-text-center">
                    lupa -
                    <a *ngIf="indicador.existente" (click)="buscaDiplomados(indicador)" style="cursor: pointer;">
                        <p-badge [value]="indicador.existente" severity="success"></p-badge>
                    </a>
                    <span *ngIf="!indicador.existente">-</span>        
                </td>
                <td class="p-text-center">{{indicador.gapMinimo}}</td> 
                <td class="p-text-center">{{indicador.gapIdeal}}</td> 
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                São {{indicadores ? indicadores.length : 0 }} indicadores no total.
            </div>
        </ng-template>
    </p-table>
</div>