<section>
    <div class="p-shadow-1" style="margin: 4rem;">
        <button pButton label="Novo" icon="pi pi-plus" class="p-button-success p-mb-3"
            (click)="openDialogCreateIndicador()"></button>


        <p-table #dt [value]="indicadores" styleClass="" [(selection)]="indicadoresSelecionados" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="p-text-center">Organização</th>
                    <th class="p-text-center" style="width: 10%">Código</th>
                    <th class="p-text-center" style="width: 25%">Nome</th>
                    <th class="p-text-center">Mínimo</th>
                    <th class="p-text-center">Ideal</th>
                    <th class="p-text-center">Existente</th>
                    <th class="p-text-center">Observações</th>
                    <th class="p-text-center">Última Atualização</th>
                    <th class="p-text-center">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-indicador>
                <tr>
                    <td class="p-text-center">{{indicador.organizacao.sigla}}</td>
                    <td class="p-text-center">{{indicador.capacitacao.codigo}}</td>
                    <td class="p-text-center">{{indicador.capacitacao.nome}}</td>
                    <td class="p-text-center">{{indicador.minimo}}</td>
                    <td class="p-text-center">{{indicador.ideal}}</td>
                    <td class="p-text-center">
                        <div class="p-d-flex p-jc-center p-ai-center">
                            <div *ngIf="indicador.existente" style="margin-right: 0.4rem;">{{indicador.existente}}</div>
                            <a *ngIf="indicador.existente" (click)="buscaDiplomados(indicador)" style="cursor: pointer;">
                                <button pButton pRipple type="button" icon="pi pi-search"
                                    class="p-button-rounded p-button-text"></button>
                            </a>
                        </div>
                        <span *ngIf="!indicador.existente">-</span>    
                    </td>
                    <td class="p-text-center">
                        <p-overlayPanel #op [dismissable]="true" [style]="{width: '150px'}" appendTo="body">
                            <ng-template pTemplate>
                                {{indicador.txObsevacoes}}
                            </ng-template>
                        </p-overlayPanel>
                        <button pButton icon="pi pi-info-circle" class="p-button-raised p-button-text"
                            *ngIf="indicador.txObsevacoes" (click)="op.toggle($event)"></button>
                    </td>
                    <td class="p-text-center">{{indicador.dataModificacao | date:'dd/MM/yyyy - HH:mm'}}</td>
                    <td class="p-text-center">
                        <button pButton icon="pi pi-pencil"
                            class="p-button-raised p-button-text p-button-success p-mr-2"
                            (click)="edit(indicador)"></button>
                        <button pButton icon="pi pi-trash" class="p-button-raised p-button-text p-button-danger"
                            (click)="deleteIndicador(indicador)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    São {{indicadores ? indicadores.length : 0 }} indicadores no total.
                </div>
            </ng-template>
        </p-table>


        <p-dialog header="{{indicadorId ? 'Editar ':'Criar '}} indicador" [(visible)]="showDialogCreate"
            [style]="{width: '45vw'}" [modal]="true" [closable]="false" class="p-fluid">
            <ng-template pTemplate="content">

                <form [formGroup]='indicadorForm'>

                    <div class="p-field p-formgrid p-grid" *ngIf="!indicadorId">
                        <div class="p-field p-col">
                            <p-autoComplete field="label" formControlName="capacitacao" [suggestions]="capacitacoes"
                                (completeMethod)="searchCapacitacao($event)" [dropdown]="true" [minLength]="3"
                                [placeholder]="'Selecione uma capacitação'">
                                <ng-template let-capacitacao pTemplate="item">
                                    <div class="dropdown-item-container">
                                        <span style="font-weight: bolder; font-size: 1.2rem">{{capacitacao.label}}</span>
                                        <br>
                                        <span style="font-size: 1.0rem;">{{capacitacao.title}}</span>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <small class="p-invalid" *ngIf="capacitacao!.invalid && capacitacao!.touched">
                                Selecione uma capacitação
                            </small>
                        </div>
                        <div class="p-field p-col">
                            <p-autoComplete field="label" formControlName="org" [suggestions]="orgsSubordinadas"
                                (completeMethod)="searchOrgsSubordinadas($event)" [dropdown]="true" [minLength]="2"
                                [placeholder]="'Selecione uma organização'">
                                <ng-template let-org pTemplate="item">
                                    <div class="dropdown-item-container">
                                        <span style="font-weight: bolder; font-size: 1.2rem;">{{org.label}}</span>
                                        <br>
                                        <span style="font-size: 1.0rem;">{{org.title}}</span>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <small class="p-invalid" *ngIf="orgSubordinada!.invalid && orgSubordinada!.touched">
                                Selecione uma organização
                            </small>
                        </div>
                    </div>
                    <div class="p-field  p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="vlwMin">Mínimo</label>
                            <p-inputNumber id="vlwMin" formControlName="minimo" [useGrouping]="false" [showButtons]="true" [min]="0">
                            </p-inputNumber>
                        </div>
                        <div class="p-field p-col">
                            <label for="ideal">Ideal</label>
                            <p-inputNumber id="ideal" formControlName="ideal" [useGrouping]="false" [showButtons]="true" [min]="0">
                            </p-inputNumber>
                        </div>
                    </div>

                    <div class="p-field">
                        <label for="obs">Observações</label>
                        <textarea id="obs" formControlName="txObsevacoes" pInputTextarea rows="3" cols="20"></textarea>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton type="button" label="Cancelar" icon="pi pi-times"
                    class="p-button-raised p-button-danger" (click)="hideDialog()"></button>
                <button pButton type="button" label="Salvar" icon="pi pi-check" class="p-button-raised"
                    [disabled]="indicadorForm.invalid" (click)="saveIndicador()"></button>
            </ng-template>
        </p-dialog>


        <p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button type="button" class="p-button-danger" pButton icon="pi pi-times" label="Não"
                    (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>
    </div>
</section>
