<section>
    <div class="p-shadow-1" style="margin: 4rem; padding-top: 1.5rem;">
    <h1>titulo de pesquisa</h1>

        <div [formGroup]='consultaForm' class="p-fluid p-formgrid p-grid" style="width: 60%; margin: 10px 10px 0 10px;">
            <div class="p-field p-col">
                <p-autoComplete field="label" formControlName="curso" [suggestions]="cursos"
                    emptyMessage="Curso não encontrado"
                    (completeMethod)="searchCursos($event)" [dropdown]="true" [minLength]="3">
                    <ng-template let-curso pTemplate="item">
                        <div class="dropdown-item-container">
                            <span style="font-weight: bolder; font-size: 1.4rem">{{curso.label}}</span>
                            <br>
                            <span style="font-style: italic; font-size: 1.2rem;">{{curso.title}}</span>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="p-field p-col">
                <p-autoComplete field="label" formControlName="org" [suggestions]="orgsSubordinadas"
                    emptyMessage="Organização não encontrada"
                    (completeMethod)="searchOrgsSubordinadas($event)" [dropdown]="true" [minLength]="3">
                    <ng-template let-curso pTemplate="item">
                        <div class="dropdown-item-container">
                            <span style="font-weight: bolder; font-size: 1.4rem;">{{curso.label}}</span>
                            <br>
                            <span style="font-style: italic; font-size: 1.2rem;">{{curso.title}}</span>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid" style="width: 60%; margin: 0 10px 20px 20px;">
            <div class="p-formgroup-inline">
                <div class="p-field-checkbox">
                    <p-checkbox [(ngModel)]="subordinadas" [binary]="true"></p-checkbox>
                    <label for="subordinadas">incluir subordinadas</label>
                </div>
            </div>
            <div class="p-field p-col-2">
                <button pButton pRipple type="button" label="Pesquisar" class="p-button-raised"
                    (click)="buscarIndicadores()"></button>
            </div>
        </div>

        <h2 *ngIf="showTableOmIndicadores || indicadoresAgrupados.length" class="headline">Resultado da pesquisa</h2>
        <div *ngIf="indicadoresAgrupados.length">
            <div *ngFor="let ind of indicadoresAgrupados" style="margin: 1rem; border: dashed 1px #bbb;">
                <app-table-indicadores-curso [indicadores]="ind.indicadores"> </app-table-indicadores-curso>
            </div>
        </div>
        <div *ngIf="showTableOmIndicadores" style="margin: 1rem; border: dashed 1px #bbb;">
            <app-table-indicadores-om [indicadores]="indicadores"> </app-table-indicadores-om>
        </div>
    </div>
</section>